@model IEnumerable<HeedeMoestrup.Models.Artist>
@using System.Globalization;

@{
    ViewBag.Title = "Udgivelser";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="row">
    <div class="customParagraph customJumbotron">
        <div class="col-md-12">
            <h2>@ViewBag.Header</h2>

            @Html.Raw(ViewBag.Body)
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row news mediaList">

        <div class="col-md-3">
            <img class="img-responsive" src="../../images/@Url.Content(item.FilePaths.First().FileName)" alt="@Html.DisplayFor(modelItem => item.Name)" />
        </div>

        <div class="col-md-9">

            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            <p>                
                @Html.Raw(item.Desc.Substring(0, Math.Min(item.Desc.Length, 200)))
            </p>
            <div>
                <h5>Kunst af @item.Name som bliver udgivet af H&M</h5>
                @foreach (var itemitem in item.Paintings.ToList().Where(h => h.HMPublication).Take(4))
                {
                    <div class="col-md-3 publications">
                        <img  src="~/images/@Url.Content(itemitem.FilePaths.First().FileName)" alt="">
                        <h5>
                            <i class="fa fa-print" aria-hidden="true"></i>  @Html.ActionLink(itemitem.Title, "PaintingDetails", new { id = itemitem.Id })
                        </h5>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Læs mere om " + item.Name, "artistsDetails", new { id = item.Id })
                </div>
            </div>

        </div>
    </div>
}



